<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    
    <welcome-file-list>
        <welcome-file>/views/index.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>FilterAppAdmin</filter-name>
        <filter-class>com.Controller.Filters.FilterAppAdmin</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterAppAdmin</filter-name>
        <url-pattern>/PaneAdminServlet</url-pattern>
        <url-pattern>/AdminCategoriesServlet</url-pattern>
        <url-pattern>/ShowFeaturesServlet</url-pattern>
        <url-pattern>/EditCategoryServlet</url-pattern>
        <url-pattern>/AddCategoryServlet</url-pattern>
        <url-pattern>/DeleteCategoryServlet</url-pattern>

        <url-pattern>/AdminSupplierServlet</url-pattern>
        <url-pattern>/ShowSupplierServlet</url-pattern>
        <url-pattern>/EditSupplierServlet</url-pattern>
        <url-pattern>/AddSupplierServlet</url-pattern>
        <url-pattern>/DeleteSupplierServlet</url-pattern>

        <url-pattern>/AdminNotActiveUsersServlet</url-pattern>
        <url-pattern>/AdminActiveUsersServlet</url-pattern>
        <url-pattern>/TurnOnUsersServlet</url-pattern>
        <url-pattern>/TurnOffUsersServlet</url-pattern>
        <url-pattern>/EditAdminUsersServlet</url-pattern>
        <url-pattern>/ShowUserFeaturesServlet</url-pattern>

    </filter-mapping>



    <filter>
        <filter-name>FilterAppEmployee</filter-name>
        <filter-class>com.Controller.Filters.FilterAppEmployee</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterAppEmployee</filter-name>
        <url-pattern>/PanelEmployeeServlet</url-pattern>
    </filter-mapping>



</web-app>